[user]
        email = {{ .email }}
        name = {{ .name }}
{{- if and (eq .chezmoi.os "darwin") (not .google) }}
        signingkey = {{ .signing_key }}
{{- end }}

[push]
    autoSetupRemote = true

[include]
        path = ~/.gitalias

{{- if and (eq .chezmoi.os "darwin") (not .google) }}

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[credential]
        helper = store
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true

[gpg]
        format = ssh
[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
        gpgsign = true
{{- end }}